# Normalize line endings for Maven wrapper
/mvnw text eol=lf
*.cmd text eol=crlf

# Ignore frontend files from GitHub language stats
frontend/* linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored

# Mark Java files as detectable
*.java linguist-detectable=true

